/*=================================================*/
/*             Base start                   */
/*=================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*-------color----------*/
  --color-primary: #221638;
  --color-secondary: #fe4a55;
  --color-teritiary: #024773;
  /*-------color----------*/
  /*-------font-size----------*/
  --responsive-font: 1.83rem;
  /*-------font-size----------*/
}
a {
  text-decoration: none;
  &:hover {
    color: currentColor;
  }
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

body {
  font-family: Nunito, sans-serif;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-f1f1f2 {
  background-color: #f1f1f2;
}
/* ---------const------------*/

$bp-xlarge: 112.5em; //1800px
$bp-largest: 75em; //1200px
$bp-992: 61.875em; //990
$bp-small: 52.25em; //900px
$bp-xsmall: 37.5em; //600px
$bp-380: 23.75em; //380
$bp-340: 21.25em; //340
$bp-290: 18.125em; //290
/* ----xx-----const-------xx-----*/
/* ---------general------------*/

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-xsmall) {
    // font-size: 48.75%;
  }
  @media only screen and (max-width: $bp-380) {
    font-size: 44%;
  }
  @media only screen and (max-width: $bp-340) {
    font-size: 42%;
  }
  @media only screen and (max-width: $bp-290) {
    font-size: 35%;
  }
  @media only screen and (min-width: $bp-xlarge) {
    font-size: 75%;
  }
}

.container {
  @media only screen and (min-width: $bp-xlarge) {
    max-width: 132rem;
  }
}
/* ---xxx------general-------xx-----*/

/*=================================================*/
/*             Base End                   */
/*=================================================*/
