/*=================================================*/
/*             Footer  start                     */
/*=================================================*/

.footer {
  background: #100f1f;
  padding: 8rem 1rem 4rem;

  &__list {
    display: grid;
    grid-template-columns:
      repeat(2, 28%)
      repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 30px;

    @media only screen and (max-width: $bp-992) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 30px;
    }
    @media only screen and (max-width: $bp-xsmall) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, max-content) 1fr max-content;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: center;

    @media only screen and (max-width: $bp-small) {
      align-items: flex-start;
      justify-content: flex-start;
    }

    & img {
      @media only screen and (max-width: $bp-380) {
        width: 40%;
      }
    }
  }

  &__logo {
    width: 15rem;
    margin-bottom: 1rem;
  }

  &__sub-heading {
    margin-bottom: 2rem;
    position: relative;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: left;
    @media only screen and (max-width: $bp-xsmall) {
      font-size: 2.2rem;
    }
  }

  &__nav-list {
    list-style: none;
    padding-left: 0.5rem;
  }

  &__nav-li {
    margin-bottom: 1rem;
    text-align: start;
  }

  &__nav-items {
    cursor: pointer;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;

    &:hover {
      color: var(--color-secondary);
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: var(--responsive-font);
    }
  }

  &__address {
    color: #fff;
    font-size: 1.4rem;
    padding-left: 2.5rem;
    position: relative;
    margin-bottom: 0;
    line-height: 1.6;
    @media only screen and (max-width: $bp-992) {
      padding-left: 2.5rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: var(--responsive-font);
      line-height: 1.5;
    }

    i {
      position: absolute;
      left: 0rem;
      top: 0;
      color: #fff;
    }
  }

  &__hr {
    margin: 4rem 0 2rem;
    color: #fff;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding-top: 0.9rem;

    @media only screen and (max-width: $bp-xsmall) {
      flex-direction: column;
      text-align: center;
    }

    h2 {
      color: #c3c3c3;
      font-size: 1.4rem;
      margin: 0;
      @media only screen and (max-width: $bp-xsmall) {
        font-size: 1.6rem;
        max-width: 30rem;
        line-height: 2;
      }
    }
  }
}

/*=================================================*/
/*             Footer  End                   */
/*=================================================*/
