
.form {
  padding: 1rem 5rem;
  @media only screen and (max-width: $bp-small) {
    padding: 1rem 2rem;
  }
  @media only screen and (max-width: $bp-xsmall) {
    padding: 1rem 1rem;
  }
  &__group {
    margin-bottom: 1.5rem;
    margin-left: 1rem;

    @media only screen and (max-width: $bp-xsmall) {
      margin-left: 0rem;
    }
  }
  &__input {
    display: block;
    outline: none;
    width: 100%;
    padding: 2.5rem 1rem;
    outline: none;
    font-size: 1.8rem;
    height: 4rem;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.1);
    border: 1px solid rgba(#ff7730, $alpha: 0.51);

    &:focus {
      border-bottom: 0.3rem solid #28b485;
      box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid #ff7730;
    }

    &::-webkit-input-placeholder {
      font-weight: 500;
    }
  }

  &__label {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.6rem;
    transform: translateY(0rem);
    transition: all 0.2s;
    font-weight: 500;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__text-area {
    display: block;
    outline: none;
    width: 100%;
    outline: none;
    font-size: 1.6rem;
    height: 9rem;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.1);
    text-align: left;
    font-weight: 500;
    padding: 1rem 1rem;
    border: 1px solid rgba(#ff7730, $alpha: 0.51);
  }
}
