/*=================================================*/
/*             Header  start                     */ 
/*=================================================*/ 

.header {
  width: 100%;
  height: 90vh;
  @media only screen and (max-width: $bp-992) {
    height: auto;
  }
  &__bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    z-index: 0;

    &--1 {
      background-image: url(../../../assets/img/banner-bg.jpg);
    }
    &--2 {
      background-image: url(../../../assets/img/banner-bg.jpg);
    }

    @media only screen and (max-width: $bp-992) {
      height: auto;
    }
  }
  &__left-part,
  &__right-part {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 90vh;

    @media only screen and (max-width: $bp-992) {
      height: auto;
      align-items: center;
      padding: 3rem;
    }
  }
  &__left-part {
    color: #fff;
    @media only screen and (max-width: $bp-992) {
      padding: 5rem 1rem;
    }
  }

  &__right-part {
    & img {
      width: 100%;
    }
  }

  ///////////////
  //slider

  .owl-item {
    &.active {
      h1 {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        animation-delay: 0.3s;
      }
      p {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        animation-delay: 0.3s;
      }
      .btn {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-name: fadeInUp;
        animation-delay: 0.3s;
      }
    }
  }
  .owl-nav {
    .owl-prev {
      position: absolute;
      left: 15px;
      top: 43%;
      opacity: 0;
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      background: rgba(0, 0, 0, 0.5) !important;
      width: 40px;
      cursor: pointer;
      height: 40px;
      position: absolute;
      display: block;
      z-index: 1000;
      border-radius: 0;
      span {
        font-size: 1.6875rem;
        color: #fff;
      }
      &:focus {
        outline: 0;
      }
      &:hover {
        background: #000 !important;
      }
    }
    .owl-next {
      position: absolute;
      right: 15px;
      top: 43%;
      opacity: 0;
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      background: rgba(0, 0, 0, 0.5) !important;
      width: 40px;
      cursor: pointer;
      height: 40px;
      position: absolute;
      display: block;
      z-index: 1000;
      border-radius: 0;
      span {
        font-size: 1.6875rem;
        color: #fff;
      }
      &:focus {
        outline: 0;
      }
      &:hover {
        background: #000 !important;
      }
    }
  }
  &:hover {
    .owl-prev {
      left: 0px;
      opacity: 1;
    }
    .owl-next {
      right: 0px;
      opacity: 1;
    }
  }
}

/////////////////////

/*=================================================*/
/*             Header  End                     */ 
/*=================================================*/ 