/*=================================================*/
/*             Typography start                    */
/*=================================================*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-family: Nunito, sans-serif;
}

.h3,
.h4,
.h5,
.h6,
h3,
h4,
h5,
h6 {
  color: var(--color-teritiary);
  letter-spacing: 1px;
}

i {
  color: var(--color-secondary);
}

p {
  color: #606060;
  margin-bottom: 1.5rem;
  line-height: 1.8;
  font-size: 1.6rem;
  word-spacing: 1px;
  @media only screen and (max-width: $bp-xsmall) {
    line-height: 1.6;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: var(--responsive-font);
  }
}

.heading {
  &--primary {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 4.5rem;
    font-weight: 800;

    @media only screen and (max-width: $bp-992) {
      text-align: center;
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 4rem;
    }
  }
  &--secondary {
    margin-bottom: 0;
    font-size: 3.3rem;
    font-weight: 800;
    color: var(--color-primary);
    text-transform: uppercase;
    // max-width: 61.5rem;

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 3rem;
    }
  }
  &--teritiary {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 1.5rem;
  }

  &--side {
    font-weight: 800;
    color: var(--color-primary);
    font-size: 2.8rem;
    display: inline-block;
    position: relative;
    line-height: 1.3;
  }
}

.paragraph {
  &--primary {
    max-width: 45rem;
    color: #d2d2d2;
    font-weight: 600;
    font-size: 1.6rem;
    @media only screen and (max-width: $bp-992) {
      text-align: center;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: var(--responsive-font);
    }
  }

  &--secondary {
    max-width: 70.5rem;
    margin-top: 1.5rem;
    font-size: 1.6rem;

    @media only screen and (max-width: $bp-small) {
      font-size: var(--responsive-font);
    }
  }
  &--teritiary {
    margin-top: 1.5rem;
    font-size: 1.6rem;

    @media only screen and (max-width: $bp-small) {
      font-size: var(--responsive-font);
    }
  }

  &--footer {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 2rem;
  }
}

.heading-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-heading {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem auto 1rem;
}

.text-capital {
  text-transform: uppercase;
}
/*=================================================*/
/*             Typography End                      */
/*=================================================*/
