.who-we-are {
  & .vision-mission {
    &__right-part {
      // justify-content: flex-start;
    }

    &__image {
      height: 100%;

      img {
        height: 100%;
      }
    }

    &__left-part p {
      margin-bottom: 0;
    }
  }
}
//////////////////////////////////////
/// Why camford

.features__icon i {
  font-size: 3rem;
}
/////////////////////////////////////
// CEO MESSAGE
.ceo-message {
  padding: 8rem 0;

  &__left-part {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
      @media only screen and (max-width: $bp-small) {
        width: 60%;
      }
    }
  }

  &__paragraph {
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  &__wish {
    font-weight: 500;
    font-size: 1.6rem;
    color: #606060;
  }

  &__name {
    font-weight: 800;
    margin-top: 1rem;
    font-size: 2.1rem;
  }

  &__sub-title {
    color: #fe4a55;
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: 700;
  }

  &__right-part {
    padding: 2rem;
    @media only screen and (max-width: $bp-small) {
      text-align: center;
    }
  }
}
///////////////////////////////////////////
/// TEAM

.team {
  background: #f6f6f6;
  padding: 8rem 0;

  & .expert {
    &__cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 5rem;
      padding: 1rem 0rem;

      @media only screen and (max-width: $bp-xsmall) {
        padding: 1rem 3rem;
      }
    }
    &__single-box {
      margin-bottom: 5rem;
      align-self: stretch;

      &:not(:nth-child(3n)) {
        padding-right: 1.5rem;
      }
      &:not(:nth-child(2n)) {
        @media only screen and (max-width: $bp-small) {
          padding-right: 1.5rem;
        }
      }

      &-content {
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        margin: 0;
        background: #fff;
        height: 100%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        @media only screen and (max-width: $bp-small) {
          flex-direction: column;
          padding: 5rem 0;
        }
      }
    }
    &__content-box {
      padding: 0rem 0 0;
      @media only screen and (max-width: $bp-xsmall) {
        padding: 0;
      }

      .social-link {
        margin-right: auto;
      }
    }

    &__image {
      width: 50%;
      align-self: center;
      align-items: center;
      justify-content: center;
    }

    &__content {
      background-color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem 2rem 0rem;
      @media only screen and (max-width: $bp-small) {
        padding: 2rem 2rem 0rem;
      }
      .sub-title {
        font-weight: 700;
        color: #606060;
      }
      p {
        text-align: left;
        margin-top: 1rem;
        @media only screen and (max-width: $bp-xsmall) {
          padding: 0rem 3rem;
          text-align: center;
        }
      }

      h3 {
        font-size: 2rem;
      }

      .readMoreBtn {
        border: none;
        outline: none;
        color: #fe4a55;
        background: none;
        display: inline;
      }
    }
  }
}

////////////////////////////////////
// instant-courses

.instant-courses {
  padding: 8rem 0;
  //   background-color: #fff8f8;

  @media only screen and (max-width: $bp-small) {
    padding: 0rem 0;
  }

  &-inner-area {
    // background-color: #f9f9f9;
    background-color: #fff8f8;
  }

  &__content {
    padding: 8rem 4rem 8rem 7rem;
    @media only screen and (max-width: $bp-xsmall) {
      padding: 5rem 3rem;
    }
  }

  &__image {
    img {
      width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 0rem 0rem 5rem;
    }
  }
}
