/*=================================================*/
/*             courses-page  start                 */
/*=================================================*/
.courses {
  // padding: 8rem 0 0;
  background-color: #fff;

  & .section-heading {
    margin-bottom: 5rem;
  }

  &__section {
    padding: 8rem 0 0;

    &:nth-child(even) {
      background-color: #f9f9f9;
    }
  }

  &__row {
    padding: 6rem 0 10rem;
  }

  & .container {
    @media only screen and (max-width: $bp-xsmall) {
      padding: 1rem 2rem !important;
    }
  }
}


.dez-separator {
  display: block;
  height: 3px;
  width: 5rem;
  margin: 1rem 0 1.5rem;
  position: relative;

  &.style-skew {
    width: 1.5rem;
    height: 1rem;
    margin-left: 1px;
    margin-right: 1px;
    transform: skewX(-10deg);
    background-color: #2d3239;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    background: #eee;
    width: 20rem;
    height: 4px;
    left: 2rem;
    transform: translateY(-50%) skewX(-10deg);
    background-color: var(--color-secondary);
  }
}

/////////////////////////////////////////////////
// Training-programmes

.training-programmes {
  padding: 8rem 0;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-xsmall) {
      padding: 2rem;
    }
  }

  &__single-cards {
    margin-bottom: 5rem;
    align-self: stretch;
    margin-left: 0;

    &:not(:nth-child(3n)) {
      padding-right: 1.5rem;
    }
    &:not(:nth-child(2n)) {
      @media only screen and (max-width: $bp-small) {
        padding-right: 1.5rem;
      }
    }
  }
  .card {
    height: auto;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;

      img {
        width: 40%;
      }
    }

    &__content {
      border-top: none !important;
      text-align: center;
    }

    &__single-box {
      padding-top: 3rem !important;
      margin-top: 0rem !important;
      height: 90% !important;
      margin-left: 0 !important;
      box-shadow: 0.1rem -0.1rem 1rem rgba(0, 0, 0, 0.15),
        0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
  }
}

/*=================================================*/
/*             courses-page  End                 */
/*=================================================*/


/*=================================================*/
/*             Gallery-page  start                 */
/*=================================================*/
.gallery-page {
  padding: 8rem 0;
}
/*=================================================*/
/*             Gallery-page  End                */
/*=================================================*/