/*=================================================*/
/*             Home-page  start                    */
/*=================================================*/

////////////////////////////////////////
// COURSE-CATOGERY

.course-catogery {
  padding: 8rem 1rem;

  &__single-box {
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0.5rem;
      background-color: #221638;
      opacity: 0.65;
      z-index: 1;
    }

    &:hover {
      img {
        transform: scale3d(1.2, 1.2, 1.2);
      }
    }
  }

  img {
    width: 100%;
    border-radius: 0.5rem;
    transition: 0.5s;
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);

    h3 {
      margin-bottom: 0.8rem;
      color: #fff;
      font-size: 2.4rem;
      font-weight: 800;
    }

    span {
      color: #fff;
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__link-btn {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    cursor: pointer;
  }
}

////////////////////////////////////////
// FEATURES

.features {
  padding: 8rem 1rem;
  background-color: #fff8f8;
  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;

    @media only screen and (max-width: $bp-xsmall) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      padding: 1rem 2rem;
    }
  }
  &__single-features {
    background-color: #fff;
  }

  &__content-box {
    z-index: 1;
    padding: 3.5rem;
    position: relative;
    border-radius: 0.5rem;
    transition: 0.5s;
    align-self: stretch;
    align-items: stretch;
    transition: 0.5s;
    height: auto;

    &:hover {
      transform: translateY(-1rem);
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
    font-weight: 800;
  }

  &__details {
    margin-bottom: 1.2rem;
  }

  &__icon {
    margin-bottom: 2rem;

    i {
      font-size: 4rem;
    }
  }
}

////////////////////////////////////////
// VISION-MISSION

.vision-mission {
  padding: 8rem 1rem;

  &__left-part,
  &__right-part {
    padding: 2rem;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    align-self: stretch;
    position: relative;
  }

  &__left-part {
    p {
      margin-bottom: 3rem;
    }
  }
  &__image {
    position: relative;
    @media only screen and (max-width: $bp-xsmall) {
      display: none;
    }
    img {
      width: 100%;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 5px;
      background-color: #221638;
      opacity: 0.3;
      z-index: 1;
    }
  }

  &__video {
    display: none;
    width: 100%;
    height: 30vh;
    @media only screen and (max-width: $bp-xsmall) {
      display: block;
    }
  }
}

////////////////////////////////////////
// FUN-FACT

.funfacts {
  padding: 8rem 1rem;
  background-color: #f5f7fa;

  &__item {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
      margin-bottom: 0;
      color: #fe4a55;
      font-size: 4.4rem;
      font-weight: 800;
    }

    p {
      text-transform: uppercase;
      color: #221638;
      line-height: 1;
      margin-top: 1rem;
      font-weight: 700;
      font-size: 1.6rem;
    }
  }
}

////////////////////////////////////////
// RECOGNITION
.recognition {
  padding: 8rem 1rem;
  background: #fff;

  &__content {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @media only screen and (max-width: $bp-xsmall) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }
  &__img {
    padding: 3rem;
  }
  img {
    width: 100%;
    // margin-bottom: 2rem;
  }
}

////////////////////////////////////////
// GALLERY

.gallery {
  background-color: #fff8f8;
  padding: 8rem 1rem;
}

.popup-gallery {
  .single-gallery-item {
    margin-bottom: 2rem;
    overflow: hidden;

    img {
      width: 100%;
      border-radius: 0.5rem;
      transition: 0.5s;
    }
    &:hover {
      img {
        transform: scale3d(1.2, 1.2, 1.2);
      }
    }
  }
}

//////////////////////////////////
// media

.media-tab {
  &__single-videos {
    margin-bottom: 3rem;
    height: 30rem;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

////////////////////////////////////////
// EXPERT

.expert {
  padding: 8rem 1rem;

  &__swiper{
    margin-top: 5rem;
  }

  &__single-box {
    &-content {
      padding: 1rem;
      display: flex;
      margin-bottom: 10rem;

      @media only screen and (max-width: $bp-xsmall) {
        flex-direction: column;
        margin-bottom: 10rem;
      }
    }
  }
  &__image {
    width: 80%;
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @media only screen and (max-width: $bp-xsmall) {
      width: 100%;
    }
    img {
      // display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__content-box {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0;
    @media only screen and (max-width: $bp-xsmall) {
      padding: 0;
    }
  }
  &__content {
    padding: 2.5rem 3rem;
    background-color: #fff;

    h3 {
      margin-bottom: 0;
      font-size: 2.2rem;
      font-weight: 800;

      a {
        color: #221638;
      }
    }
    span {
      display: block;
      color: #fe4a55;
      margin-top: 7px;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .swiper-pagination-bullet {
    margin: 0 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent !important;
    border: 1px solid #7d7d7d;
    position: relative;
    -moz-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    border: 1px solid#fe4a55;

    &::before {
      content: '';
      position: absolute;
      top: 51%;
      left: 49%;
      background: #fe4a55;
      height: 0.8rem;
      width: 0.8rem;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }
}

/////////////////////////////////
///Recruitment

.recruitment {
  background-color: #fff;
}

/////////////////////////////////////
// WORKSHOP

.workshops__content {
  span {
    margin-bottom: 0.5rem;
    i {
      margin-right: 1rem;
      transform: translateY(-0.1rem);
    }
  }
}

/*=================================================*/
/*             Home-page  End                   */
/*=================================================*/
