/*=================================================*/
/*             Placement-page  start                 */
/*=================================================*/

.placement {
  padding: 8rem 0;
  background: rgba(#f4f1f1, 0.58);

  &__cards {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2.5rem;
    row-gap: 1rem;
    @media only screen and (max-width: $bp-992) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    @media only screen and (max-width: $bp-xsmall) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
  }

  &__single-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
    height: 90%;
    align-self: stretch;
    background-color: transparent !important;

    & .card {
      width: 100%;
      height: 100%;
      &-body {
        text-align: center;
        padding: 1.5rem 0 1rem;
      }
      &-title {
        font-size: 1.4rem;
        font-weight: 800;
      }
      h4 {
        font-size: 1.2rem;
        color: #202020;
        font-weight: 600;
      }

      &-img-top {
        width: 100%;
        // height: 25vh;
      }
    }
  }
}

.jobs {
  padding: 8rem 0rem;
  @media only screen and (max-width: $bp-xsmall) {
    padding: 8rem 2rem;
  }
}

.jobs {
  &__placement-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
  }

  &__single-jobs {
    padding: 0rem !important;
    background-color: #fff;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 4rem;
    align-self: stretch;
    margin-right: 2.5rem;
    flex: 0 0 31%;
    @media only screen and (max-width: $bp-largest) {
      flex: 0 0 46%;
    }
    @media only screen and (max-width: $bp-small) {
      flex: 0 0 47%;
    }
    @media only screen and (max-width: $bp-xsmall) {
      flex: 1 0 100%;
      margin-right: 0;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }

  &__content-box {
    // display: flex;
    align-self: stretch;

    padding: 2rem;
    @media only screen and (max-width: $bp-small) {
      padding: 2rem 1.5rem;
    }
    @media only screen and (max-width: $bp-xsmall) {
      padding: 2.7rem;
    }
    @media only screen and (max-width: $bp-380) {
      padding: 1.8rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-primary);
    margin-bottom: 0.7rem;
    @media only screen and (max-width: $bp-xsmall) {
      font-size: 2.3rem;
      margin-bottom: 1rem;
    }
  }

  &__company {
    margin-bottom: 0.4rem;
    color: #606060;
    text-transform: lowercase;
    // text-transform: capitalize;
    @media only screen and (max-width: $bp-xsmall) {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__place {
    margin-bottom: 0.7rem;
    color: #606060;
    i {
      margin-right: 0.5rem;
    }
    @media only screen and (max-width: $bp-xsmall) {
      font-size: 2rem;
      // margin-top: 1.5rem;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    @media only screen and (max-width: $bp-small) {
      display: none;
    }

    &-item {
      margin-right: 1rem;
      background: rgba(#aaa, 0.1);
      padding: 0.5rem 1rem;
      margin-bottom: 0rem;
    }
  }
  &__apply {
    display: flex;
    padding-left: 2rem;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 0rem;
    margin-top: 0.6rem;
  }

  &__details {
    flex-direction: row;
    display: inline-block;
    display: flex;
    align-items: center;

    &-item {
      margin-right: 1rem;
    }
  }

  &__send-cv {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    position: relative;
    margin-top: 0rem;
    margin-left: 0rem;
    background: var(--color-secondary);
    i {
      color: #fff;
    }

    &:hover {
      color: #fff;
      span {
        background: var(--color-primary);
      }
    }
  }

  &__last-date {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0rem;
  }
}

.placement__instant-courses {
  background: #faf4f4;
}
/*=================================================*/
/*             Placement-page  End                 */
/*=================================================*/
