/*=================================================*/
/*             Placement-page  start                 */
/*=================================================*/

.placement {
  padding: 8rem 0;
  background: rgba(#f4f1f1, 0.58);

  &__cards {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2.5rem;
    row-gap: 1rem;
    @media only screen and (max-width: $bp-992) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    @media only screen and (max-width: $bp-xsmall) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
  }

  &__single-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
    height: 90%;
    align-self: stretch;
    background-color: transparent !important;

    & .card {
      width: 100%;
      height: 100%;
      &-body {
        text-align: center;
        padding: 1.5rem 0 1rem;
      }
      &-title {
        font-size: 1.4rem;
        font-weight: 800;
      }
      h4 {
        font-size: 1.2rem;
        color: #202020;
        font-weight: 600;
      }

      &-img-top {
        width: 100%;
        // height: 25vh;
      }
    }
  }
}

.jobs {
  padding: 8rem 0rem;
  @media only screen and (max-width: $bp-xsmall) {
    padding: 8rem 2rem;
  }
}

.jobs {
  &__placement-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__single-jobs {
    padding: 0rem !important;
    background-color: #fff8f8;
    margin-bottom: 4rem;
    align-self: stretch;
    margin-right: 2.5rem;
    height: 100%;
    // width: 30rem;
    flex: 1 0 25%;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    @media only screen and (max-width: $bp-992) {
      flex: 0 0 46%;
    }
    @media only screen and (max-width: $bp-xsmall) {
      flex: 1 0 100%;
      margin-right: 0;
    }
  }

  &__content-box {
    padding: 2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 800;
    color: $color-primary;
  }

  &__details {
    position: relative;
    // padding-left: 1rem;
    margin-bottom: 0;
    i {
      margin-right: 0.8rem;
    }
  }

  &__company {
    margin-bottom: 1rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    // width: 80%;
    align-items: center;
    margin-bottom: 1rem;

    li {
      width: 50%;
    }
  }

  &__send-cv {
    // color: $color-secondary;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    position: relative;
    // display: inblock;
    margin-top: 0rem;
    margin-left: 0rem;
    background: $color-secondary;
    i {
      color: #fff;
    }

    &:hover {
      color: #fff;
      span {
        background: $color-primary;
      }
    }
    // text-decoration: underline;
  }
}

.placement__instant-courses {
  background: #faf4f4;
}
/*=================================================*/
/*             Placement-page  End                 */
/*=================================================*/
