/*=================================================*/
/*             Single-Course  start                 */
/*=================================================*/

//////////////////////////////////////
// PAGE BANNER IMAGE

.page-banner-image {
  background-image: url(../../../assets/img/camford-programestop.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
  @media only screen and (max-width: $bp-xsmall) {
    background-position: left;
  }
}

.single-course {
  &__content {
    padding: 5rem 0;
  }

  &__nav-tabs {
    margin-bottom: 0;
    list-style-type: none;
    background-color: #f8f9f8;
    border: none;
    border-radius: 0.5rem;
    padding-left: 0rem !important;
    justify-content: flex-start !important;
    margin-top: 5rem !important;
    @media only screen and (max-width: $bp-xsmall) {
      padding: 1rem 0 1.5rem !important;
    }
    .slider {
      height: 2px !important;
      background-color: $color-secondary !important;
    }
  }

  &__nav-item {
    background-color: #f8f9f8;
    margin-right: 2rem;
    padding: 1rem 0;

    @media only screen and (max-width: $bp-380) {
      margin-right: 1.5rem;
    }

    .active {
      background-color: $color-secondary;
      border: none;
      color: #fff;
    }
  }

  &__nav-link {
    color: $color-primary;
    font-size: 1.5rem;
    padding: 1.4rem 1.2rem;
    font-size: 1.8rem;
    font-weight: 800;
    border: none;
    margin-bottom: 1rem;
    &:hover {
      background-color: $color-secondary;
      color: #fff;
    }
  }

  &__curriculum {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 30px;
    margin-left: -30px;
    margin-right: -30px;

    &-list {
      list-style: none;
      font-size: 1.5rem;
    }

    &-item {
      font-size: 1.5rem;
      background-color: #f8f9f8;
      padding: 1.4rem 1rem;
      padding-left: 4rem;
      position: relative;

      &:nth-child(even) {
        background: #fff;
      }

      i {
        color: $color-secondary;
        transform: translateY(-50%);
        position: absolute;
        top: 2.1rem;
        left: 1rem;
      }
    }
  }

  &__instractor {
    & .expert {
      &__single-box {
        margin-top: 2rem;

        &-content {
          margin-bottom: 4rem;
        }
      }

      &__content-box {
        margin-bottom: 0;
        padding-top: 0;
      }

      &__content {
        padding: 1rem 2rem;
      }
    }
  }

  &__details {
    margin-left: 2rem;
    padding: 2rem;
    background-color: #f8f9f8;
    @media only screen and (min-width: $bp-992) {
      margin-top: -20rem;
    }
    @media only screen and (max-width: $bp-992) {
      margin-left: 0;
    }
  }

  &__download-image {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: $color-primary;
      opacity: 0.25;
    }

    img {
      width: 100%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      //   justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 100%;
      span {
        display: inline-block;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.4rem 2rem;
        background-color: $color-primary;
        font-size: 1.7rem;
        font-weight: 700;
        position: relative;
      }

      .video-btn {
        position: relative;
        top: 3rem;
        left: 4rem;
        @media only screen and (max-width: $bp-992) {
          left: 5rem;
        }
        &::after,
        &::before {
          display: none;
        }

        @media only screen and (max-width: $bp-xsmall) {
          display: block;
        }
      }
    }
  }

  &__info {
    padding: 1rem 2.5rem 3.5rem;
    background-color: #f8f9f8;
    list-style: none;

    &-item {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0;
      color: #aaa;
      border-bottom: 1px solid #e5e5e7;
      font-size: 1.7rem;
      color: #606060;
      font-weight: 600;

      span {
        font-weight: 800;
        color: $color-primary;
        // transform: translateY(0.5rem);
        position: relative;
        padding-left: 2.8rem;
      }

      i {
        color: $color-secondary;
        font-size: 2rem;
        margin-right: 1.2rem;
        position: absolute;
        left: 0;
        top: 0rem;
      }
    }
  }
  &__details-block {
    margin-top: 4rem;
    &:first-child {
      margin-top: 2rem;
    }
  }
  &__paragraph {
    margin-top: 1.5rem;
    font-size: 1.7rem;
    padding-left: 4rem;
    position: relative;
    i {
      color: $color-secondary;
      transform: translateY(-50%);
      position: absolute;
      top: 1.2rem;
      left: 1rem;
    }
  }
}
.reviews {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e7;
  margin: 2rem 0;
  @media only screen and (max-width: $bp-xsmall) {
    flex-direction: column;
  }

  &__image {
    // width: 20%;
    margin-right: 2rem;
    width: 9rem;
    height: 9rem;
    padding-top: 1rem;
    img {
      width: 100%;
      border-radius: 0.5rem;
    }
  }

  &__rating {
    display: flex;
    margin-bottom: 0.8rem;
    @media only screen and (max-width: $bp-xsmall) {
      margin-top: 1.5rem;
      flex-direction: column;
    }
  }

  &__stars {
    i {
      font-size: 1.5rem;
      color: #ffa500;
      @media only screen and (max-width: $bp-xsmall) {
        font-size: 2.2rem;
      }
    }
  }

  &__name {
    color: $color-primary;
    font-weight: 700;
    margin-left: 1rem;
    font-size: 1.8rem;
    padding-top: 0.1rem;
    @media only screen and (max-width: $bp-xsmall) {
      font-size: 2.2rem;
      margin-left: 0rem;
      margin-top: 1rem;
    }
  }

  &__comment {
    font-weight: 700;
    color: $color-primary;
    font-size: 1.6rem;
  }
}

/////////////////////////////////////////////////////
//  course-suggestion

.course-suggestion {
  background-color: #f8f9f8;
  padding: 8rem 0;

  .section-heading {
    margin-bottom: 9rem;
  }

  & .container {
    @media only screen and (max-width: $bp-xsmall) {
      padding: 1rem 2rem !important;
    }
  }
}

//////////////////////////////////////////////////////////////
// Share this Course

.share-course {
  pointer-events: none;

  &:hover {
    .social-link {
      opacity: 1;
      visibility: visible;
      transform: translateY(0rem);
    }
  }
  &__link {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 2rem;
    color: $color-secondary;
    pointer-events: auto;

    &:hover + .social-link {
      opacity: 1;
      visibility: visible;
      transform: translateY(0rem);
    }
  }

  i {
    color: #3f3f3f;
    transform: translateY(1px);
  }
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
  pointer-events: auto;
}
/*=================================================*/
/*             Single-Course  End                 */
/*=================================================*/
